/* Universal Selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  background-image: url("./image/image-from-rawpixel-id-2287805-jpeg.jpg");
  background-size: 100% 100%;
  /* justify-content: center; */
  padding-left: 120px;
  min-height: 800px;
  /* align-items: center; */
}
.main-form {
  width: 40%;
  min-height: 600px;
  background-color: #e0e0e0;
  padding: 10px 0 0 35px;
  font-size: 20px;
  margin: 3% 0;
  box-shadow: 5px 5px 5px #b9bbb1;
  border-radius: 5% 0 5% 0;
  /* background-image: url("./image/image-from-rawpixel-id-576121-jpeg.jpg"); */
  background-size: 100% 100%;
  /* margin-left: 80px; */
}
div {
  margin-top: 10px;
  /* text-align: center; */
}
input {
  width: 55%;
  height: 30px;
  font-size: 20px;
}
#color {
  width: 20%;
}
#option {
  width: 55%;
  height: 30px;
  font-size: 20px;
}
/* Error Style */
.emailError,
.nameError,
.redioError,
.checkboxError {
  color: red;
  margin-left: 5%;
}
input[type="radio"] {
  width: 30px;
  margin-right: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.rate {
  padding-bottom: 10px;
}
input[type="submit"] {
  width: 80%;
  height: 35px;
  border: none;
  margin-left: 2%;
  box-shadow: 5px 5px 5px rgb(168, 168, 168);
  margin-bottom: 2%;
  border-radius: 5%;
}
input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
  /* width: 82%; */
  height: 38px;
  cursor: pointer;
  color: white;
  border-radius: 10%;
}
input[type="checkbox"] {
  width: 30px;
  /* margin-right: 10px; */
  height: 30px;
  margin-bottom: 10px;
}
/* Popup Style */
.popup {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.close-btn {
  width: 80px;
  height: 40px;
  font-size: 18px;
  border: none;
  background-color: white;
  /* float: right; */
  margin-left: 80%;
  margin-top: 5%;
}

h1,
h3,
h4 {
  margin-left: 20px;
  margin-bottom: 15px;
}
h1 {
  margin-top: 20px;
}
.inner-div {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 80%;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}
